<!DOCTYPE html>
<head>
  <title>The Teenager Translator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='angry-face-128.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='angry-face-128.png') }}" class="icon" />
  <h3>The Teenager Translator</h3>
  <form action="/" method="post">
    <input type="text" name="reply" placeholder="Enter the text to translate" required />
    <input type="submit" value="Generate translation" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
